{% comment %} {% extends 'base.html' %} {% block content %}
<div class="container pt-4">
  <div class="row p-0 mt-4">
    <div class="col-lg-5 mx-auto shadow p-0">
      <div class="alert alert-info">
        <h3>Welcome, {{ username }}</h3>
        <h3>Add Your SubTask</h3>
      </div>
      <div class="p-4">
        <form action="{% url 'add_subtask' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="todo_id" value="{{ todo_id }}">
            {{ form.as_p }}
            <button type="submit">Add Subtask</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4">
  <div class="row p-0 mt-4">
    <div class="col-lg-6">
      <form action="/search-subtask/" method="GET">
        <div class="form-group">
          <input
            type="text"
            name="search"
            placeholder="Search subtask..."
            class="form-control mb-2"
          />
          <input type="submit" value="Search" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% endcomment %}
